@use "../abstracts/" as *;

footer {
  padding-block-start: 3.188rem;
  padding-block-end: 1.875rem;
  background-color: $color-primary-800;
  @include mq(medium) {
    padding-block: 3.813rem;
  }
  form {
    @include mq(medium) {
      justify-content: end !important;
      gap: 1rem;
    }
  }
  p {
    text-align: end;
    max-width: inherit;
  }
  .socials {
    @include mq(medium) {
      justify-content: start;
      gap: 1rem;
    }
    img {
      width: 32px;
      height: 32px;
      margin-block: 3rem;
      @include mq(medium) {
        width: 20px;
        height: 20px;
      }
    }
  }
  img {
    margin-block-end: 3rem;
    margin-inline: auto;
    @include mq(medium) {
      margin-inline: 0;
    }
  }
}
