$-clr-black-900: hsl(233, 12%, 13%);
$-clr-gray-500: hsl(227, 12%, 61%);
$-clr-gray-100: hsl(0, 0%, 98%);
$-clr-blue-900: hsl(228, 38%, 23%);
$-clr-blue-800: hsl(228, 13%, 13%);
$-clr-orange-500: hsl(12, 88%, 59%);
$-clr-orange-100: hsl(13, 100%, 96%);

$light: (
  "neutral": (
    "900": $-clr-black-900,
    "500": $-clr-gray-500,
    "100": $-clr-gray-100,
  ),
  "accent": (
    "500": $-clr-orange-500,
    "100": $-clr-orange-100,
  ),
  "primary": (
    "900": $-clr-blue-900,
    "800": $-clr-blue-800,
  ),
);

$color-neutral-900: var(--neutral-900);
$color-neutral-500: var(--neutral-500);
$color-neutral-100: var(--neutral-100);

$color-accent-100: var(--accent-100);
$color-accent-500: var(--accent-500);

$color-primary-900: var(--primary-900);
$color-primary-800: var(--primary-800);

$body-text-color: $color-primary-900;
$body-bg-color: $color-neutral-100;
//
