$ff-base: "Be Vietnam Pro", sans-serif;

$ff-body: $ff-base;

$font-sizes: (
  "small": (
    "100": 0.813rem,
    //  * button and copyright and placeholder
    "150": 1rem,
    //  * navigation in header
    "200": 0.875rem,
    //  * paragraph in about and testimonial
    "300": 0.938rem,
    //  * navigation in footer
    "400": 1rem,
    //  * navigation and paragraph and heading 3 and numbers
    "500": 1.875rem,
    //  * heading 2
    "600": 2.5rem,
    // * heading 2 in community
    "700": 2.5rem,
    //  * heading 1
  ),
  "medium": (
    "150": 0.813rem,
    //  * navigation in header
    "200": 1rem,
    //  * paragraph in about and testimonial
    "500": 2.5rem,
    // heading 2
    "700": 3.5rem,
    // heading 1
  ),
  "large": (),
);

$font-size-100: var(--fs-100);
$font-size-150: var(--fs-150);
$font-size-200: var(--fs-200);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);

$fs-body: $font-size-100;

$-fw-400: 400;
$-fw-500: 500;
$-fw-700: 700;

$fw-regular: $-fw-400;
$fw-medium: $-fw-500;
$fw-bold: $-fw-700;

$fw-body: $fw-regular;
